{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    <title>Title</title>
</head>
<body>
    <header>
        <img src="{% static 'portfolio/bg.png' %}" alt="background">
    </header>
    <nav class="menu">
        <a href="{% url 'portfolio' %}">Home</a>
        <a href="{% url 'blog:blog' %}">Blog</a>
        <a href="{% static 'portfolio/Resume.pdf' %}">Resume</a>
    </nav>

    {% block content %}

    {% endblock %}

</body>
</html>