{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}

<div class="section">
    <div class="section__text">
        <div class="section__title">
            Приветствую
        </div>
        <div class="text__item">
            Меня зовут Сергей. Мне 28 лет<br>
Я занимаюсь web-разработкой сайтов
Пишу на Python. В основном это Django

        </div>
        <div class="text__item">
            На данный момент я ищу работу в команде разработчиков,
чтобы могли подсказать, поправить и направить
            <p>Мои знания: <br></p>
        <ul class="list">
            <li>Django, Django ORM</li>
            <li>Html, CSS (Bootstrap, Flexbox)</li>
            <li>MySQL, Postgresql</li>
            <li>Работа в программах: PyCharm, VS Code</li>
            <li>Docker, Git, Windows, Linux</li>
        </ul>
        </div>
    </div>
    <div class="avatar">
        <img src="{% static 'portfolio/Ellipse.png' %}" class="avatar-bg">
        <img src="{% static 'portfolio/avatar.jpg' %}" class="avatar-img">
    </div>

</div>
<div class="section__sendme">
    <a href="{% url 'sendemail' %}" class="btn__sendme">Написать мне</a>
</div>

<div class="wrapper__head_title">
    <img src="{% static 'portfolio/line.png' %}">
    <div class="head_title">
        Мои проекты
    </div>
</div>
<div class="project">
    <div class="project__img">
        {% for proj in projects %}
        <div class="item">
            {% if proj.url %}
            <a href="{{ proj.url }}" target="_blank"><img src="{{ proj.image.url }}" class="item__img"></a>
            {% else %}
            <img src="{{ proj.image.url }}" class="item__img">
            {% endif %}
            <div class="item__title">{{ proj.title }}</div>
            <div class="item__description">{{ proj.description }}</div>
        </div>
        {% endfor %}
    </div>
</div>




{% endblock %}