{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}

<div class="flex_aboume">
    <div class="flex_item">
        <img src="{% static 'portfolio/avatar.jpg' %}">
    </div>
    <div class="flex_item">
        <h3>Привет! Меня зовут Сергей. Мне 28 лет</h3>
        <p>И я занимаюсь web-разработкой сайтов. Пишу на Python. В основном это Django</p>
        <p>На данный момент я ищу работу в команде разработчиков, чтобы могли подсказать, поправить и направить</p>
        <p>Мои знания: <br></p>
        <ul class="list">
            <li>Django, Django ORM</li>
            <li>Html, CSS (Bootstrap, Flexbox)</li>
            <li>MySQL, Postgresql</li>
            <li>Работа в программах: PyCharm, VS Code</li>
            <li>Docker, Git, Windows, Linux</li>
        </ul>

    </div>

</div>
<div class="flex_aboume">
    <a href="{% url 'sendemail' %}" class="btn-sendme">Написать мне</a>
</div>

<div class="projects-title">Мои проекты</div>
<div class="projects">
    {% for proj in projects %}
        <div class="project-card">
            <div>
                {% if proj.url %}
                    <a href="{{ proj.url }}" target="_blank"><img src="{{ proj.image.url }}" alt="...">
                {% else %}
                    <img src="{{ proj.image.url }}" alt="ссылки нет :(">
                {% endif %}
            </div>
            <div class="card-title">
                {{ proj.title }}
            </div>
            <div class="card-description">
                {{ proj.description }}
            </div>
        </div>
    {% endfor %}
    

</div>


{% endblock %}