/* FONTS
font-family: 'Anton', sans-serif;
font-family: 'Kanit', sans-serif;
*/
body {
	background-color: #282C33;
	color: #fff;
	margin-right: 200px;
	margin-left: 200px;
	margin-top: 60px;
}

a {
	color: #fff;
	text-decoration: none;
}

.header {
	display: flex;
	font-family: 'Anton', sans-serif;
	font-size: 20px;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.header__item {

}

.menu ul {
	display: flex;
	list-style-type: none;
}

.menu li {
	margin-right: 60px;
}

.contactme {
	display: flex;
}
.link__contactme p {
	text-decoration: underline;
	text-decoration-color: #892427;
	text-decoration-thickness: 3px;
}

.section {
	display: flex;
	margin-top: 130px;
	align-items: center;
	justify-content: space-between;
	min-height: 410px;
}
.section__text {
	flex-direction: column;
	font-family: 'Kanit', sans-serif;
	font-size: 20px;
	max-width: 390px;
}

.section__title {
	font-family: 'Kanit', sans-serif;
	font-size: 40px;
	font-weight: 600;
}
.text__item {
	margin-top: 20px;
	font-weight: 400;
}

.avatar {
	display: flex;
	margin-right: 200px;
	align-items: center;
	justify-content: center;
}

.avatar-img {
	position: absolute;
	max-width: 200px;
	max-height: 200px;
	border-radius: 20px;
}
.avatar-img:hover {
	max-width: 400px;
	max-height: 400px;
}
.section__sendme {
	display: block;
	text-align: center;
	top: 100px;
}

.btn__sendme {
	padding: 20px 40px;
	background-color: #892427;
	border-radius: 30px;
	outline: 3px solid black;
	font-family: 'Kanit', sans-serif;
	font-size: 20px;
	font-weight: bold;
}

.wrapper__head_title {
	display: flex;
	justify-content: center;
}

.head_title {
	margin-top: 100px;
	font-family: 'Kanit', sans-serif;
	font-size: 36px;
	font-weight: bold;
	position: absolute;
}

.project {
	position: relative;
	text-align: center;
}

.project__img {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.item {
	max-width: 200px;
	align-items: baseline;
}
.item__img {
	max-width: 200px;
}
.item__title {
	font-family: 'Kanit', sans-serif;
	font-size: 20px;
	font-weight: 700;
}
.item__description {
	font-family: 'Kanit', sans-serif;
	font-size: 16px;
	font-weight: 700;
	align-self: flex-start;
}
